[Unit]
Description=store mqtt location data in db
After=network.target

[Service]
Type=simple
User=%i
WorkingDirectory=/home/ha/home-assistant-setup/utils/location
ExecStart=/usr/bin/python3 /home/ha/home-assistant-setup/utils/location/relay.py /home/ha/home-assistant-setup/utils/location/config.json

[Install]
WantedBy=multi-user.target
